
/*----------------*/
/*  SCALLOP up    */
/*----------------*/
.scallop-up{
    height:27px;
    width:100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(#fff));
  -webkit-background-size: 49px 100%;
  }

/*----------------*/
/*  SCALLOP down  */
/*----------------*/
.scallop-down{
    height:27px;
    width:100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#369A7E), color-stop(0.49, #369A7E), color-stop(0.51, #fff), to(#fff));
  -webkit-background-size: 49px 100%;
  }




